@import "./base/typography.scss";
@import "./Components/button.scss";
@import "./Utils/variables";
@import "./Utils/mixins.scss";
@import "./Utils/functions.scss";


/* Police de la Page */

body{
    text-align: center;
}

/* Mise en Page du Header */

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__logo{
        margin-left: 30%;
        &--size{
            width: 40%;
        }
    }
    &__icone{
        &--size{
            height: 10%;
        }
    }
    &__location{
        margin-left: 1%;
        &--size{
            font-size: 200%;
            @media (max-width: 599px) {
                font-size: 120%;
            }
        }
    }
}

.intro{
    text-align: left;
    @media (max-width: 599px) {
        text-align: center;
    }
    &__title{
        font-size: 250%;
        @media (max-width: 599px) {
            width: 80%;
            margin-left: 10%;
            text-align: center;
            font-size: 150%;
        }
    }
    &__paragraph{
        font-size: 200%;
        @media (max-width: 599px) {
            width: 80%;
            margin-left: 10%;
            text-align: center;
            font-size: 100%;
        }
    }
    width: 100%;
    &__btn{
        @include btn-type
    }
}

.filters{
    &__title{
        text-align: left;
    }
    &__list{
        display: flex;
        justify-content: space-around;
    }
}
