
@import "./base/typography.scss";
@import "./Utils/variables";
@import "./Utils/mixins.scss";
@import "./Utils/functions.scss";
@import "./base/animations.scss";
@import "./base/keyframes.scss";
@import "./Components/button.scss";
@import "./Layout/header.scss";
@import "./Layout/footer.scss";
@import "./Layout/Background-image.scss";
@import "./Layout/menu.scss";
@import "./Pages/filters.scss";
@import "./Pages/title.scss";





/* Police de la Page */

body{
    text-align: center;
    @include margin-page
}

.bloc-page{
    display: flex;
    flex-direction: column;
}

/* Mise en Page du Header */

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__information{
        background: darken($color: white, $amount: 10%);
        margin-left: -6%;
        position: relative;
        top: 3px;
    }

    &__position{
        margin-left: 5%;
    }
    
    &__location{
        margin-left: 1%;
        &--size{
            font-size: 200%;
            @media (min-width: 599px) and (max-width: 968px) {
                font-size: 150%;
            }
            @media (max-width: 599px) {
                font-size: 120%;
            }
        }
    }
}

.intro{
    text-align: left;
    background: $background-darker;
    margin-left: -6%;
    padding-left: 6%;
    height: 240px;
    position: relative;
    @media (min-width: 599px) and (max-width: 968px) {
        text-align: center;
    }
    @media (max-width: 599px) {
        text-align: center;
    }
    &__title{
        font-size: 220%;
        margin-top: 0.1%;
        padding-top: 20px;
        @media (min-width: 599px) and (max-width: 968px) {
            width: 80%;
            font-size: 180%;
            text-align: center;
            margin-left: 10%;
        }
        @media (max-width: 599px) {
            width: 80%;
            margin-left: 10%;
            text-align: center;
            font-size: 150%;
        }
    }
    &__paragraph{
        font-size: 200%;
        @media (min-width: 599px) and (max-width: 968px) {
            font-size: 20px;
            text-align: center;
        }
        @media (max-width: 599px) {
            width: 80%;
            margin-left: 10%;
            text-align: center;
            font-size: 100%;
        }
    }
    &__btn{
        @include btn-type;
        margin-left: 40%;
        @media (min-width: 599px) and (max-width: 968px) {
            margin-left: 35%;
        }
        @media (max-width: 599px) {
            margin-left: 21%;
        }
    }
}

.restaurant{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: -5%;
    text-align: left;
    background: $background-darker;
    @media (min-width: 599px) and (max-width: 968px) {
        display: flex;
        flex-direction: column;
        margin-bottom: 130px;
    }
    @media(max-width: 599px) {
        display: flex;
        flex-direction: column;
    }
    &--size{
        height: 800px ;
        @media(min-width: 599px) and (max-width: 968px) {
            height: 700px;
        }
        @media(max-width: 599px) {
            height: 900px;
            width: 120%;
        }
    }
    

    &__title{
        position: relative;
        left: 4.5%;
        @media (min-width: 599px) and (max-width: 968px) {
            text-align: center;
            margin-right: 6%;
        }
    }

    &__menu{
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 599px) and (max-width: 968px) {
            width: 105%;
            flex-direction: column;
            margin-right: 5%;
            background: $background-darker;
            padding-bottom: 5%;
            padding-bottom: 10%;
            
        }
        @media(max-width: 599px) {
            flex-direction: column;
            text-align: left;
            position: relative;
            right: 6%;
        }
    }
        
    
    &__card{
        margin-top: 80px !important;
        margin-left: 80px;
        background-color: $background-color;
        border: solid 0.1px;
        border-radius: 30px;
        @include border-btn-filter;
        &--size{
            width: 40%;
            height: 250px;
            @media (min-width: 599px) and (max-width: 968px) {
                width: 80%;
                margin-top: 7%;
            }
            @media(max-width: 599px) {
                width: 82%;
                margin-top: 80px;
                margin-left: 50px;
                text-align: left;
            }
            
        }
    }

    &__description{
        display: flex;
        justify-content: space-between;
    }

    &__words{
        display: flex;
        flex-direction: column;
        margin: 1% 0 0 5%;
        
    }

    &__picture{
        border-radius: 30px 30px 0 0;
        &--size{
            width: 100%;
            height: 190px;
            
        }
    }

    &__name{
        
        @media (max-width: 599px) {
        }
        &--size{
            font-size: 17px;
        }
    }

    &__new{
        position: relative;
        bottom: 85%;
        left: 80%;
        padding: 2%;
        &--color{
            background-color: $color-tertiary;
            color: darken($color: $color-tertiary, $amount: 40%);
        }
        &--size{
            width: 50%;
            height: 50%;
        }
    }
    
    
    &__icone{
        position: absolute;
        margin-left: 35%;
        margin-top: 0.5%;
        z-index: 1;
        :hover {
            visibility: hidden;
            }
        @media (min-width: 599px) and (max-width: 968px) {
            margin-top: 1%;
            position: absolute;
            left: 50%;
            }
        @media (max-width: 599px){
            margin-top: 1%;
            position: absolute;
            left: 45%;

            }
        }
        
    &__solid{
        position: absolute;
        margin-left: 35%;
        margin-top: 0.5%;
        color: transparent;
        @media(min-width: 599px) and (max-width: 968px) {
            margin-top: 1%;
            position: absolute;
            left: 50%;
        }
        @media (max-width: 599px) {
            margin-top: 1%;
            position: absolute;
            left: 45%;

        }
        
    }
    
}