/* Position et taille de l'image de fond des pages de menu */

.background{
    height: 400px;
    width: 104%;
    position: relative;
    bottom: 60px;
    right: 2%;
    @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
        width: 112%;
    }
    @media (min-width: $first-breakpoint) {
        height: 500px;
        width: 103% !important;
        margin-left: -1%;
    }
}