/* Position et taille de l'image de fond des pages de menu */

.background{
    height: 500px;
    width: 106.9%;
    margin-left: -1%;
    @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
        width: 112% !important;
    }
    @media (max-width: $second-breakpoint) {
        height: 400px !important;
        width: 125.5% !important;
        position: relative;
        bottom: 60px;
        right: 1%;
    }
}