.footer{
    background-color: lighten($color: black, $amount: 15%);
    color: white;
    text-align: left;
    height: 220px;
    width: 100%;
    padding-left: 70px;
    padding-top: 45px;
    position: relative;
    right: 5%;
    @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
        width: 100%;
        margin-top: 630px
    }
    @media(max-width: $second-breakpoint) {
        margin-top: 600px;
        
    }
    &__menu{
        height: 100%;
        width: 100%;
        margin-top: 660px;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            margin-top: 1100px;
        }
        @media (max-width: 599px) {
            margin-top: 1100px;
        }
    }

    &__logo{
        width: 250px !important;
        @media(max-width: $second-breakpoint) {
            width: 30%;
        }
    }

    &__list{
        position: relative;
        right: 35px;
    }
    &__choice{
        list-style-type: none;
        margin-bottom: 10px;
    }
    &__name{
        margin-left: 0.5%;
    }

}

.footer a{
    color: white;
    text-decoration: none;
}

#footer-enchanted{
    margin-top: 740px;
    @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
        margin-top: 1300px !important;
    }
    @media (max-width: $second-breakpoint) {
        margin-top: 1150px !important;
    }
}