/* Couleur de fond , taille et poistion du footer */

.footer{
    background-color: lighten($color: black, $amount: 15%);
    color: white;
    text-align: left;
    width: 103%;
    height: 200px;
    position: relative;
    right: 2%;
    @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
        width: 102%;
        height: 250px !important;
    }
    @media (min-width: $first-breakpoint) {
        height: 250px !important;
        width: 100% !important;
        padding-left: 20px;
        padding-top: 15px;
        margin-right: -5%;
        margin-bottom: -10px;
        position: relative;
        right: 5%;
    }

        /* Taille du menu du Footer */

    &__menu{
        width: 110%;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
        }
       
        @media (min-width: $first-breakpoint) {
            height: 100%;
            width: 101% !important;
        }
    }

        /* Taille du Logo */

    &__logo{
        padding-top: 20px;
        margin-left: 40px !important;
        width: 40%;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            width: 30%;
        }
        @media (min-width: $first-breakpoint) {
            width: 20%;
        }
        }
    
        /* Position et Mise en page de la liste a puce du Footer */
    &__list{
        margin-top: 2%;
        @media (min-width: $first-breakpoint) {
           margin-top: 5px;
        }
    }
    &__choice{
        list-style-type: none;
        margin-bottom: 10px;
    }
    &__name{
        margin-left: 0.5%;
    }
}



        /* Couleur du lien en Blanc */

.footer a{
    color: white;
    text-decoration: none;
}

    /* Ajustement des règles pour le footer de la page "Menu La Note Enchantée */

