
/* Mise en Page du Header */

.title{

    /* Taille Bordure et Position du totre de la Page d'Accueil */

    &__bloc{
        box-shadow: 0px 0px 7px darken($color: white, $amount: 60%);
        border-right: none;
        width: 112.5% !important;
        margin: -2% -0.5% -2% -6%;
        padding-top: 2%;
        z-index: 1;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            width: 117% !important;
        }
        @media (max-width: $second-breakpoint) {
            width: 107% !important;
        }
    }

    /* Taille du titre des Pages Menu */

    &__menu{
        height: 120px;
        width: auto;
        margin-left: 10%;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            height: 80px;
        }
    }

    /* Couleur et Position de la Flèche pour Revenir à la Page d'Accueil */

    &__arrow{
        color: black;
        position: relative;
        right: 18%;
        bottom: 22px;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            position: relative;
            bottom: 10px;
            right: 12%;
        }
        @media (max-width: $second-breakpoint) {
            position: relative;
            bottom: 0px;
            right: 10%;
        }

    }

    /* Position et Taille du logo du menu */

    &__menu-logo{
       @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            position: relative;
            top: 10px;
       }
       @media (max-width: $second-breakpoint) {
            position: relative;
            top: 15px;
       }
        &--size{
            height: 100px;
            width: 40% !important;
        @media(min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
                height: 60px;
                width: 50% !important;
        }
        @media(max-width: $second-breakpoint) {
                height: 40px;
                width: 60% !important;
        }
    }
    }

    /* Position et Taille du Logo de la Page d'Accueil */

    &__logo{
            margin-left: 8%;
            padding: 5px 10px 0 10px;
            margin-bottom: 2%;
            &--size{
                width: 40%;
                @media(max-width: $second-breakpoint) {
                    width: 40%;
                }
            }
        }
}