
/* Mise en Page du Header */

.title{

    /* Taille Bordure et Position du totre de la Page d'Accueil */

    &__bloc{
        box-shadow: 0px 0px 7px darken($color: white, $amount: 60%);
        border-right: none;
        height: 70px;
        width: 104% !important;
        padding-top: 2%;
        margin-top: -13px;
        z-index: 1;
        position: relative;
        right: 2%;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            width: 103% !important;
        }
        @media (min-width: $first-breakpoint) {
            width: 102% !important;
        }
    }

    /* Taille du titre des Pages Menu */

    &__menu{
        height: 120px;
        width: auto;
        margin-left: 10%;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            height: 150px;
        }
        @media (min-width: $first-breakpoint) {
            height: 160px;
        }
    }

    /* Couleur et Position de la Flèche pour Revenir à la Page d'Accueil */

    &__arrow{
        color: black;
        position: relative;
        bottom: 0px;
        right: 10%;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            position: relative;
            bottom: 10px;
            right: 12%;
        }
        @media (min-width: $first-breakpoint) {
            position: relative;
            right: 18%;
            bottom: 15px;
        }

    }

    /* Position et Taille du logo du menu */

    &__menu-logo{
        position: relative;
        top: 15px;
       @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            position: relative;
            top: 10px;
       }
        &--size{
            height: 40px;
            width: 60%;
        @media(min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
                height: 60px;
                width: 50% !important;
        }
        @media (min-width: $first-breakpoint) {
            height: 80px;
            width: 40% !important;
        }
        }
    }

    /* Position et Taille du Logo de la Page d'Accueil */

    &__logo{
            margin-left: 18%;
            padding: 5px 10px 0 10px;
            margin-bottom: 2%;
            @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
                margin-left: 25%;
            }
            @media (min-width: $first-breakpoint) {
                margin-left: 30%;
                position: relative;
                bottom: 20px;
            }
            &--size{
                width: 60%;
                height: 60px;
                }
                @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
                    width: 50%;
                    height: 60px;
                }
                @media (min-width: $first-breakpoint) {
                    width: 40%;
                    height: 80px;
                }
            }
}
