

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px 25px 0 0;
    margin-left: -5%;
    background-color: $background-darker;
    position: absolute;
    top: 70%;
    @media (max-width: $second-breakpoint) {
        display: flex;
        flex-direction: column;
    }
    &--size{
        height: 800px;
        width: $width;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            height: 1200px;
            width: $width;
        }
        @media (max-width: $second-breakpoint){
            height: 1400px;
            width: $width;
        }
    }

    &__flex{
        display: flex;
        justify-content: space-between;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            flex-direction: column;
        }
        @media (max-width: $second-breakpoint) {
            flex-direction: column;
        }
    }

    &__subflex-1{
        margin-right: 20%;
        margin-left: 5%;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            width: $menu-width;
            margin-left: 1%;
            margin-bottom: 1%;
        }
        @media (max-width: $second-breakpoint) {
            margin-left: 1%;
            width: $width;
        }
    }

    &__subflex-2{
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            width: $menu-width !important;
            margin-left: 7px;
        }
        @media (max-width: $first-breakpoint) {
            width: $width;
        }
    }

    &__subflex-card{
        &--size{
            width: $menu-width;
            @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
                width: $menu-width;
            }
            @media (max-width: $second-breakpoint) {
                width: $width;
            }
        }
        &--margin{
        margin-bottom: 8% !important;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            margin-bottom: 3% !important;
            }
        @media (max-width: $second-breakpoint) {
            margin-bottom: 3% !important;
        }
        }
    }

    &__starters{
        width: $menu-width;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            width: $menu-width;
        }
        @media (max-width: $second-breakpoint) {
            display: flex;
            flex-direction: column;
            width: 85%;
            margin-left: 4%;
        }
    }

    &__dishes{
        width: $menu-width;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            width: $menu-width;
        }
        @media (max-width: $second-breakpoint) {
            display: flex;
            flex-direction: column;
            width: 85%;
            margin-left: 4%;
        }
    }

    &__desserts{
        width: $menu-width;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            width: $menu-width;
        }
        @media (max-width: $second-breakpoint) {
            display: flex;
            flex-direction: column;
            width: 85%;
            margin-left: 4%;
        }
    }

    &__title-bloc{
        display: flex;
        width: $width;
        @media (max-width: $second-breakpoint) {
            display: flex;
            justify-content: space-between;
            width: 140%;
        }
    }

    &__title{
        display: flex;
        margin-right: 30%;
        margin-left: 20%;
        margin-top: 1%;
        font-size: 40px;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            font-size: 30px;
        }
        @media (max-width: $second-breakpoint) {
            display: flex;
            font-size: 30px;
            margin-top: 20px;
        }
    }

    &__words{
        display: table;
        table-layout: fixed;
        margin-top: 15px;
        margin-right: -30px;
        height: 50px;
        width: 120%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        right: 10px;
        @media (max-width: $second-breakpoint) {
            margin-left: 2%;
        }
    }

    &__subflex-words{
        position: relative;
        left: 5px;
    }

    &__subtitle{
        margin-right: 5%;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 24px;
        position: relative;
        &::before {
            content: "";
            width: 60px;
            height: 3px;
            background-color: $color-tertiary;
            position: absolute;
            bottom: -5px;
        }
        
        @media (max-width: $second-breakpoint) {
            margin-right: 75%;
        }
    }

    &__icone{
        position: absolute;
        top: 2%;
        left: 73%;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            position: absolute;
            top: 1%;
        }
        @media (max-width: $second-breakpoint) {
            position: absolute;
            left: 85%;
        }
    }

    &__solid{
        position: absolute;
        bottom: 0.5%;
        left: 1%;
        color: transparent;
        opacity: 0;
        &--anim{
            &:hover{
                @include anim-color-heart
            }
        }
        @media (max-width: $second-breakpoint) {
            position: absolute;
            left: 1%;
        }
        
    }

    &__name{
        margin-top: 2%;
        overflow: hidden;
        text-overflow: ellipsis;
        width: $width;
        position: relative;

    }

    &__subname{
        display: table-cell;
        overflow: hidden;
        text-overflow: ellipsis;
        width: $width;
        position: relative;
        top: 18px;
    }

    &__price{
        margin-top: 37px;
        transform: translateX(150px);
        position: relative;
        bottom: 3px;
        left: 20px;

        @media (max-width: $second-breakpoint) {
            margin-right: 4%;
            margin-top: 38px;
        }
    }

    &__check-bloc{
        background: $color-tertiary;
        border-radius: 0 $radius $radius 0;
        width: 20%;
        transform: scaleX(0);
        transform-origin: right;
        position: relative;
        left: 7.4%;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            position: relative;
            left: 2.5%;
        }
        @media (max-width: $second-breakpoint) {
            position: relative;
            left: 2.4%;
        }
    }

    &__check{
        margin-right: -9%;
        color: white;
        text-indent: 25px;
        line-height: 65px !important;
        transform-origin: center;
    }

    &__check-subflex{
        position: relative;
        left: 3%;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            position: relative;
            left: 2.3%;
        }
        @media (max-width: $second-breakpoint) {
            position: relative;
            left: 2.1%;
        }
    }

    &__btn-flex{
        display: flex;
        justify-content: space-between;
        width: 130%;
    }

    &__command {
        @include btn-type;
        margin-top: 50px;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            padding: 5px 0 5px 0;
        }
        @media (max-width: 599px) {
            padding: 4% 0 4% 0;
        }
    }
}  


#menu-enchanted{
    height: 860px;
    @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
        height: 1400px !important;
    }
    @media (max-width: $second-breakpoint) {
        height: 1210px !important;
    }
}

