

.filters__btn{
    background: $background-darker;
    margin-right: 15%;
    text-align: left;
    @include border-btn-filter;
    &--size{
        height: 70px;
        width: 180%;
    }
    &--purple{
        background: lighten($color: #9356DC, $amount: 34%);
    }
    @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
        width: 400px;
        margin-top: 25px;
    }

    @media (max-width: $second-breakpoint) {
        width: 350px;
        margin-top: 25px;
    }
}

.restaurant__button{
    background-color: $background-color;
    border-radius: $radius;
    &--size{
        width: 90%;
        height: 100%;
        }
}

.btn-heart{
    background-color: $background-color;
    border: none;
    margin-right: 5%;
}

.menu__btn{
    display: flex;
    margin-bottom: 2%;
    margin-right: 2%;
    padding: 0 2% 0 2%;
    text-align: justify;
    background-color: $background-color;
    @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
        margin-left: 10% !important;
    }
    @media (max-width: $second-breakpoint) {
        margin-bottom: 2%;
    }
    &--size{
        height: 70px;
        width: 90%;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            width: 80%;
        }
        @media (max-width: $second-breakpoint) {
            width: 100%;
        }
    }
    &--border{
       @include border-btn-filter;
    }


}

