/* Animation pour l'apparition des cartes au chargement des pages menu */

@keyframes menu-apparition{
    0% {
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }

    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

/* Animation pour l'apparition de la page d'accueil apres le loading spinner */

@keyframes main-apparition{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0;
    }
    85%{
        opacity: 0;
    }

    95%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/* Loading spinner au chargement de la page */

@keyframes loading{
    0%{
        opacity: 1;
        transform: rotate(360deg);
        margin-top: 0;
    }

    50%{
        opacity: 1;
        margin-top: 0;
    }

    85%{
        opacity: 1;
        margin-top: 0;
    }

    95%{
        opacity: 1;
        margin-top: 0;
    }

    100%{
        opacity: 0;
        margin-top: -140px;
    }
}
