.filters{
    &__title{
        text-align: left;
        @media (min-width: 599px) and (max-width: 968px) {
            text-align: center;
        }
    }

    &__list{
        display: flex;
        justify-content: space-around;
        margin-right: 8%;
        list-style-type: none;
        @media (min-width: 599px) and (max-width: 968px) {
            display: flex;
            flex-direction: column;
            margin-left: 10%;
        }
        @media (max-width: 599px){
            display: flex;
            flex-direction: column;
        }
    }

    &__numbers{
        font-size: 12px;
        border-radius: 45%;
        position: relative;
        right: 6%;
        padding: 5px 7px 5px 7px;
        &--color{
            background-color: #9356DC;
            color: white;
        }
    }

    &__first{
        position: relative;
        right: 3%;
    }

    &__second{
        position: relative;
        right: 5%;
    }

    &__third{
        position: relative;
        right: 3%;
    }


    &__name{
        margin-right: 20%;
        font-weight: bold;
        font-size: 15px;
    }

    &__name-second{
        @media(max-width: 599px) {
            position: relative;
            right: 3%;
        }
    }

    &__icone{
        margin-right: 8%;
        @media(max-width: 599px) {
            margin-left: 5px;
        }
    }

    &__icone-mobile{
        position: relative;
        color: darken($color: white, $amount: 50%);
        
    }

    &__icone-list{
        position: relative;
        color: darken($color: white, $amount: 50%);
        @media(max-width: 599px) {
            position: relative;
            right: 3%;
        }
    }

    &__icone-store{
        position: relative;
        color: #9356DC;
    }
}