/* Mise en Place des Filtres de la page d'accueil */

.filters{

    width: 100%;
    @media (min-width: $first-breakpoint) {
        width: 80% !important;
    }
    /* Position du titre des Filtres */

    &__title{
        text-align: left;
        margin-left: 12%;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            text-align: center;
            margin-left: 8%;
        }
    }

    /* Position des Filtres en ligne */

    &__list{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        @media (min-width: $second-breakpoint) and (max-width: $first-breakpoint) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 4%;
        }
        @media (min-width: $first-breakpoint) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 120%;
        position: relative;
        right: 120px !important;
        }
    }

    /* Ajustement de la Position individuelle des Filtres */

    &__choice{
        margin-right: 5%;
        margin-left: 10%;
    }

    /* Position des Numéros des Filtres pour qu'ils soient "collés" à la bordure des Filtres */

    &__numbers{
        font-size: 12px;
        border-radius: 45%;
        margin-right: 5%;
        margin-left: -3%;
        padding: 5px 7px 5px 7px;
        &--color{
            background-color: $color-primary;
            color: white;
        }
    }

    /* Position et mise en gras des noms des filtres */

    &__name{
        font-weight: bold;
        font-size: 15px;
        margin-left: 10%;
        position: relative;
    }

    /* Placement des différentes icones des filtres */

    &__icone{
        margin-left: 5%;
        @media (min-width: $first-breakpoint) {
            margin-right: 5%;
        }
    }

    &__icone-mobile{
        position: relative;
        color: darken($color: white, $amount: 50%);
        
    }

    &__icone-list{
        color: darken($color: white, $amount: 50%);
        }
        @media (min-width: $first-breakpoint) {
            position: relative;  
        }

    &__icone-store{
        position: relative;
        color :darken($color: white, $amount: 50%);
    }
}