@mixin dark-background($background-color:darkness-shift($background-color)) {
    background-color: $background-color;
}

@mixin btn-type {
    background: linear-gradient($color-secondary,$color-primary);
    color: white;
    font-size: 20px;
    border-radius: 30px;
    width: 17%;
    height: 60px;
    @media (max-width: 599px) {
        width: 260px;
        margin-left: 20%;
    }
        
}

