@mixin margin-page {
    margin-left: 5%;
}

@mixin btn-type {
    background: linear-gradient($color-secondary,$color-primary);
    color: white;
    font-size: 20px;
    border-radius: $radius;
    border: none;
    box-shadow: 3px 3px 3px darken($color: white, $amount: 20%);
    width: 260px;
    height: 60px;
    &:hover {
        background: lighten($color: $color-secondary, $amount: 2%);
        box-shadow: 5px 5px 5px darken($color: white, $amount: 30%)
    }
        
}

@mixin  border-btn-filter {
        border-radius: $radius;
        border: none;
        box-shadow: 3px 3px 3px darken($color: white, $amount: 20%);
    
}

@mixin anim-color-heart {
        background: $color-gradient;
        background-clip: text;
        color: transparent;
        opacity: 1;
        transition: all 700ms;
}


